<div class="container-fluid">
    <div class="searchContainer">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group dateBoxes">
                    <input id="startDate" ng-model="searchData.startDateObj" type="text" class="form-control">
                    <span class="input-group-addon glyphicon glyphicon-calendar">
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group dateBoxes">
                    <input id="endDate" ng-model="searchData.endDateObj" type="text" class="form-control">
                    <span class="input-group-addon glyphicon glyphicon-calendar">
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-expanded="true">
                        {{searchData.selectedLocationName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="chan in channels" ng-click="setLocation(chan)"><a>{{chan.name}}</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="group in groups" ng-click="setLocation(group)"><a>{{group.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <form class="searchBox" role="search">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="slacked" ng-model="searchData.term">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" ng-click="searchFor(searchData.term)">Search
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="msgContainer">
                <div class="message" ng-repeat="msg in searchData.messages">
                    <p class="dateInMessages"><strong>{{msg.dateString}}</strong></p>
                    <p data-toggle="tooltip" data-placement="top" title="{{msg.dateString}}" ng-repeat="msgs in msg.messages"> [{{msgs.time}}] &lt{{msgs.name}}&gt {{msgs.msg}}</p>
                </div>
                <div class="message" ng-if="messages.total > 49">
                    <a href="#/history/{{locationType}}/{{locationId}}?page={{nextPage}}">
                        Load next page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>