<div class="container-fluid">
    <div class="userContainer">
        <div class="row">
            <div class="col-md-3">
                <p>Start: </p>
            </div>
            <div class="col-md-3">
                <p>End: </p>
            </div>
            <div class="col-md-1">
                <p>Channel: </p>
            </div>
            <div class="col-md-5">
                <p>Search: </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group dateBoxes">
                    <input id="startDate" ng-model="searchData.startDateObj" type="text" class="form-control">
                    <span class="input-group-addon glyphicon glyphicon-calendar">
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group dateBoxes">
                    <input id="endDate" ng-model="searchData.endDateObj" type="text" class="form-control">
                    <span class="input-group-addon glyphicon glyphicon-calendar">
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-expanded="true">
                        {{searchData.selectedLocationName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="chan in globes._channels" ng-click="setLocation(chan)"><a>{{chan.name}}</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="group in globes._groups" ng-click="setLocation(group)"><a>{{group.name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-5">
                <form class="searchBox" role="search">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="slacked" ng-model="searchData.term">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" ng-click="searchFor(searchData.term)">Search
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="msgContainer">
                <div class="message" ng-repeat="msg in searchData.messages">
                    <p data-toggle="tooltip" data-placement="top" title="{{msg.date}}"> [{{msg.time}}]
                        &lt{{msg.name}}&gt {{msg.msg}}</p>
                </div>
            </div>
        </div>
    </div>
</div>